{% extends "./base.html" %} {% block title %} Gestion de Cursos {% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>Edicion de Curso</h2>
    <div class="card">
      <div class="card-body">
        <form action="/edicionCurso/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="text"
              id="txtCodigo"
              name="txtCodigo"
              class="form-control"
              value="{{curso.codigo}}"
              minlength="6"
              maxlength="6"
              readonly
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="txtNombre"
              name="txtNombre"
              class="form-control"
              value="{{curso.nombre}}"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="numCreditos"
              name="numCreditos"
              class="form-control"
              min="1"
              max="9"
              value="{{curso.creditos}}"
              required
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-white">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
